# Ignore all
/*

# Whitelist these folders
!/src

# Whitelist files
!.gitignore
!README.md
!LICENCE
!loadimg.py
!generatedataset.py
!predict.py
!convertshapefile.py
!generatedataset_k_fold_v2.py
!warp_to_cutline.py
!train.py
!yolov5s.pt

# Additionally ignore folders
/**/__pycache__
