# Ignore all
/*

# Whitelist these folders
!/src

# Whitelist files
!.gitignore
!README.md
!LICENCE
!loadimg.py
!main.py
!predict.py
!shptogeojson.py
!train.py

# Additionally ignore folders
/**/__pycache__
